 <div class="akslider-module ">
      <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'scale', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: true, videomute: true, kenburns: false}">
          <ul class="uk-slideshow">
              <li class="uk-cover uk-height-viewport uk-active">
                  <!-- START Slide 1 -->
                  <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_1.jpg);"></div>
                  <img src="images/demo/slider/slide_1.jpg" width="800" height="400" alt="Go to Gym">
                  <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
                      <div class="tm-slide-style-1">
                          <h3 class="slide-head tm-heading-font">
                              it’s right time to
                          </h3>
                          <div class="slide-text-primary tm-heading-font">
                              <a href="#">Go to Gym</a>
                          </div>
                          <h4 class="slide-subhead uk-text-right tm-heading-font">
                              starts from $19.99<sup>/month</sup>
                          </h4>
                      </div>
                  </div>
                  <!-- END Slide 1 -->
              </li>
              <li class="uk-cover uk-height-viewport">
                  <!-- START Slide 2 -->
                  <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_2.jpg);"></div>
                  <img src="images/demo/slider/slide_2.jpg" width="800" height="400" alt="Kickboxing">
                  <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
                      <div class="tm-slide-style-2">
                          <div class="slide-text-primary">
                              <a href="#">Kickboxing</a>
                          </div>
                          <div class="tm-slide-panel uk-text-center">
                              <h4 class="ak-slide-subhead uk-text-center">
                                  Every day from 4:00pm till 08:00pm
                              </h4>
                              <a href="location.html" class="uk-button uk-button-primary">View Location</a>
                          </div>
                      </div>
                  </div>
                  <!-- END Slide 2 -->
              </li>
              <li class="uk-cover uk-height-viewport">
                  <!-- START Slide 3 -->
                  <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_3.jpg);"></div>
                  <img src="images/demo/slider/slide_3.jpg" width="800" height="400" alt="Muscle Mass">
                  <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
                      <div class="tm-slide-style-3">
                          <div class="slide-text-primary">
                              <a href="#">Muscle Mass</a>
                          </div>
                          <div class="tm-slide-panel">
                              <p class="ak-slide-subhead">
                                  Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                              </p>
                              <a href="location.html" class="uk-button uk-button-primary">View Location</a>
                          </div>
                      </div>
                  </div>
                  <!-- END Slide 3 -->
              </li>
              <li class="uk-cover uk-height-viewport">
                  <!-- START Slide 4 -->
                  <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_5.jpg);"></div>
                  <img src="images/demo/slider/slide_5.jpg" width="800" height="400" alt="Go to Gym">
                  <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
                      <div class="tm-slide-style-1">
                          <div class="slide-text-primary tm-heading-font uk-text-left" style="padding:0;">
                              <a href="#">New <br>Record</a>
                          </div>
                          <h4 class="slide-subhead uk-text-left tm-heading-font">
                              Every day from 4:00pm till 08:00pm
                          </h4>
                          <div class="tm-radial uk-float-left" data-circle-value="0.90">
                              <div>Duration <span>90 minutes</span></div>
                          </div>
                          <div class="tm-radial uk-float-left" data-circle-value="0.35">
                              <div>Calories <span>600-800</span></div>
                          </div>
                          <div class="tm-radial uk-float-left" data-circle-value="0.5">
                              <div>Level <span>Medium</span></div>
                          </div>
                      </div>
                  </div>
                  <!-- END Slide 4 -->
              </li>
              <li class="uk-cover uk-height-viewport">
                  <!-- START Slide 5 (Video) -->
                  <iframe src="http://www.youtube.com/embed/PnICxgGHXno?autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;playlist=FoRmhWxmj70&amp;wmode=transparent&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1" width="480" height="270" allowfullscreen="" class="uk-position-absolute" data-uk-cover="{}">
                  </iframe>
                  <!-- END Slide 5 (Video) -->
              </li>
          </ul>
          
          <!-- START Slider next/prev buttons -->
          <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
          <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
          <!-- END Slider next/prev buttons -->
          
          <!-- START Slider navigator -->
          <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center">
              <li data-uk-slideshow-item="0" class="uk-active"><a href="#" style="background-image: url('images/demo/slider/slide_1_btn.jpg')">0</a></li>
              <li data-uk-slideshow-item="1"><a href="#" style="background-image: url('images/demo/slider/slide_2_btn.jpg')">1</a></li>
              <li data-uk-slideshow-item="2"><a href="#" style="background-image: url('images/demo/slider/slide_3_btn.jpg')">2</a></li>
              <li data-uk-slideshow-item="3"><a href="#" style="background-image: url('images/demo/slider/slide_5_btn.jpg')">3</a></li>
              <li data-uk-slideshow-item="4"><a href="#" style="background-image: url('images/demo/slider/slide_6_btn.jpg')">4</a></li>
          </ul>
          <!-- END Slider navigator -->

      </div>
  </div>