<div class="container">

  <div class="row">
    <div class="center jumbotron">
      <div class="founder-headline col-lg-4 col-md-4">
        <h1>About Jon Curva</h1>
        <p>the man behind the lifestyle...</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="founder-blurb">
      <div class="founder-image col-md-8">
        <%= image_tag 'gallery/gallery_7.jpg' %>
      </div>
      <div class="founder-text col-md-4">
        <p>Copper mug forage bicycle rights narwhal next level salvia. Aesthetic 
        ennui butcher, snackwave sustainable listicle pork belly dreamcatcher 
        quinoa man bun biodiesel. Poke yr cred bicycle rights forage try-hard 
        distillery woke readymade blue bottle chillwave affogato. Single-origin 
        coffee lumbersexual narwhal, kinfolk ramps kale chips YOLO green juice 
        activated charcoal beard pok pok swag. Neutra skateboard roof party 
        iPhone. Flexitarian tote bag neutra irony, kickstarter church-key fashion 
        axe cred viral knausgaard gochujang.</p>
      </div>
    </div>
  </div>
</div>