<br><br><br><br>


            
            <!-- START Central block -->
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="#"></a></li>
                                <li class="uk-active"><span></span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <!-- START Article block -->
                            <article class="uk-article">
                                <h1 class="uk-article-title">
                                    Schedule			
                                </h1>
                                <div>
                                    <p>
                                    <%= image_tag("demo/visuals/schedule.jpg", class: "uk-thumbnail uk-float-right uk-margin-left") %>
                                        Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    </p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis.</p>
                                    <div>
                                        <!-- START Schedule block -->
                                        <div id="schedule">   
                                            <script type="text/javascript" src="http://us.bookingbug.com/widget/all.js?id=usw3555336&c1=transparent&c2=F5F5F5&c3=DDDDDD&c4=ADADAD&c5=FFFFFF&c6=60D0E4&c7=696C73&c8=EBEBEB&c9=88C66F&f1=&style=large&icons=&is_rounded=1&width=730&height=570"></script>
                                        </div>
                                        <!-- END Schedule block -->
                                    </div>
                                </div>
                            </article>
                            <!-- END Article block -->
                        </main>
                    </div>
                </div>
            </div>
            <!-- END Central block -->
            
      