<div class="container">

  <% @products.each do |product| %>

    <div class="productCard">
      <%= product.image_url %>
      <%= product.title %>
      <%= product.price %>
    </div>
  <% end %>

</div>