<div class="container">

  <% @products.each do |product| %>

    <div class="productCard card">

      <%= image_tag(product.image_url, class: "card-img-top", style: "width: 295; height: 500") %>
      
      <div class="card-body">
        <h2 class="card-title"><%= product.brand %></h2>
        <h2 class="card-title"><%= product.name %></h2>
        <h3 class="card-text"><%= product.price %></h3>
      </div>

      <input class="btn btn-primary btn-lg" type="submit" value="+ ADD TO CART">

    </div>
  <% end %>

</div>