<div class="container">
  <div class="center"> 
    <h1>Your Cart</h1>
  </div>

  <%= link_to "<-- BACK TO SHOP", shop_path %>

  <div class="shopping-cart">
    <%= render "shopping_cart" %>
  </div>
</div>


<div>
  <p><b>TOTAL: <%= session[:order_id] ? number_to_currency(current_order.total, unit: '$') : 0.00 %></b></p>
  <%= link_to "Checkout", checkout_path %>
</div>
