          <!-- START About block -->
        <div class="tm-block  tm-block-top-b tm-section-dark tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <div class="uk-grid" style="margin-bottom: 110px;">
                                <div class="uk-width-large-1-2 uk-width-medium-2-3 uk-width-small-1-1">
                                    <h4 class="tm-logo-text">
                                        <span class="color-1">Curva</span><span class="color-2">Fit</span>
                                    </h4>
                                    <p class="uk-margin-remove">We are Curva. Premium healthy and fit lifestyle modeling. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p>
                                    <ol class="tm-list">
                                        <li>Customized ketonomical nutrition design</li>
                                        <li>COMPREHENSIVE TECH STACK ENGAGEMENT</li>
                                        <li>PROVEN PRE-FIT FUNCTIONAL MOVEMENT SYSTEM</li>
                                        <li>FULLY CUSTOMIZABLE LEVERAGE TRAINING</li>
                                    </ol>
                                    <hr style="margin: 35px 0;">
                                    <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                    Buy Now
                                    </a>
                                    <i class="uk-text-large" style="margin: 0 25px;">or</i>
                                    <a class="uk-text-large" href="#">View more demos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END About block -->