 <!-- START Features block -->
        <div class="tm-block  tm-block-top-a tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <div class="category-module-features ">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 1 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                                
                                               <%=image_tag("demo/visuals/ico-shoppingbag.png", style: "width: 60; height: 60") %>                      
                                                <h2 class="uk-panel-title uk-margin-top">Curva Store</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="workouts.html" title="View Workouts">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Shop</span>
                                        </a>
                                        <!-- END Feature 1 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 2 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%=image_tag("demo/visuals/ico-classes.png") %>
                                                <h2 class="uk-panel-title uk-margin-top">Classes</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="classes.html" title="View Classes">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>View Classes</span>
                                        </a>
                                        <!-- END Feature 2 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 3 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%= image_tag("demo/visuals/ico-schedule.png") %>                       
                                                <h2 class="uk-panel-title uk-margin-top">Personal Training</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="schedule.html" title="View Schedule">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Book Session</span>
                                        </a>
                                        <!-- END Feature 3 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 4 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%= image_tag("demo/visuals/ico-trainers.png") %>
                                                   
                                                <h2 class="uk-panel-title uk-margin-top">Ketogenics</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="trainers.html" title="View Trainers">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Read Ketogenics</span>
                                        </a>
                                        <!-- END Feature 4 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Features block -->
