 <!-- START Footer block -->
            <div class="ak-footer">
                <div class="uk-container uk-container-center">
                    <footer class="tm-footer uk-grid tm-footer uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <!-- START Footer About MaxxFitness block -->
                        <div class="uk-hidden-small uk-hidden-medium uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-medium uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">About Curva</h3>
                                <p>Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fementum. Maecenas faucibus mollis interdum sociis natoque penatibus et magnis.</p>
                                <p>888 Congress Ave<br> Austin, TX 78701<br> T: (512) 585 5500</p>
                                <div class="ak-copyright">©Curva 2016</div>
                            </div>
                        </div>
                        <!-- END Footer About MaxxFitness block -->
                        
                        <!-- START Opening Hours block -->
                        <div class="uk-hidden-small uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel uk-hidden-small" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Opening Hours</h3>
                                <div class="uk-grid">
                                    <div class="uk-width-1-3">
                                        <p style="line-height: 2;">
                                            Monday<br>
                                            Tuesday<br>
                                            Wednesday<br>
                                            Thursday<br>
                                            Friday<br>
                                            Saturday<br>
                                            Sunday
                                        </p>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <p style="line-height: 2;">
                                            07:00AM - 11:00PM<br>
                                            08:00AM - 10:00PM<br>
                                            07:00AM - 11:00PM<br>
                                            07:00AM - 11:00PM<br>
                                            07:00AM - 11:00PM<br>
                                            10:00AM - 4:00PM<br>
                                            10:00AM - 2:00PM
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Opening Hours block -->
                        
                        <!-- START Request a 1 Day Free Trial block -->
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3">
                            <div class="uk-panel" style="min-height: 316px;">
                                <h3 class="uk-panel-title">Request a 1 Day Free  Trial</h3>
                                <div id="aiContactSafe_form_1">
                                    <div class="aiContactSafe" id="aiContactSafe_mainbody_1">
                                        <div class="contentpaneopen">
                                            <div id="aiContactSafeForm">
                                                <form action="#" method="post" id="adminForm_1" name="adminForm_1" enctype="multipart/form-data">
                                                    <div id="displayAiContactSafeForm_1">
                                                        <div class="aiContactSafe" id="aiContactSafe_contact_form">
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_name"><label for="aics_name">Name</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_name" id="aics_name" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_email"><label for="aics_email">Email</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_email" id="aics_email" class="email" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_phone"><label for="aics_phone">Phone</label></span>&nbsp;</div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_phone" id="aics_phone" maxlength="25" class="textbox" value=""></div>
                                                            </div>
                                                            <div class="aiContactSafe_row">
                                                                <div class="aiContactSafe_contact_form_field_label_left"><span class="aiContactSafe_label" id="aiContactSafe_label_aics_datatime"><label for="aics_datatime">Date</label></span>&nbsp;<label class="required_field">*</label></div>
                                                                <div class="aiContactSafe_contact_form_field_right"><input type="text" name="aics_datatime" id="aics_datatime" class="editbox" value=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div id="aiContactSafeBtns">
                                                        <div id="aiContactSafeButtons_right" style="clear:both; display:block; width:100%; text-align:right;">
                                                            <div id="aiContactSafeSend" style="float:right;">
                                                                <input type="submit" id="aiContactSafeSendButton" value="Send" style="float:right; margin:2px;">
                                                                <div id="aiContactSafeSend_loading_1" style="float:right; margin:2px;">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Request a 1 Day Free Trial block -->
                        
                    </footer>
                </div>
            </div>