<!-- START Fullscreen block -->
<div class="tm-fullscreen uk-position-relative">
 
  <div class="center jumbotron">
    <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_1.jpg);">
    </div>

    <%= image_tag("demo/slider/slide_1.jpg", style: "width: 800; height: 400") %>
    <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
        <div class="tm-slide-style-1">
            <h3 class="slide-head tm-heading-font">
                it’s right time to
            </h3>
            <div class="slide-text-primary tm-heading-font">
                <a href="#">Go to Gym</a>
            </div>
            <h4 class="slide-subhead uk-text-right tm-heading-font">
                starts from $19.99<sup>/month</sup>
            </h4>
        </div>
    </div>
  </div>
</div>
 <!-- END Fullscreen block -->