

    <nav class="tm-navbar uk-navbar">
                <div class="uk-container uk-container-center">
                    <!-- START Logo -->
                    <a class="tm-logo" href="index-2.html">
                        <span class="color-1">Curva</span><span class="color-2">Fit</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent uk-active" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="index-2.html">Home</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-1">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-parent">
                                                <span class="uk-nav-header">Color Variations</span>
                                                <ul class="uk-nav-sub">
                                                    <li><a href="index.html">Default style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-4/">Orange style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-5/">Green Style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-6/">Red Style</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="layouts.html">Layouts</a></li>
                                            <li><a href="coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                            <li><a href="error.html">Error page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="schedule.html">Schedule</a></li>
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <a href="classes.html">Classes</a>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Weight Loss
                                            </li>
                                            <li><a href="classes/swimming.html">Swimming</a></li>
                                            <li><a href="classes/swimming.html">Kickboxing</a></li>
                                            <li><a href="classes/swimming.html">Cross Trainer</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Muscle Gain
                                            </li>
                                            <li><a href="classes/swimming.html">Fast Bodyweight</a></li>
                                            <li><a href="classes/swimming.html">Pilates</a></li>
                                            <li><a href="classes/swimming.html">Boxing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="workouts.html">Ketogenics</a></li>
                        <li><a href="gallery.html">Blog</a></li>
                        <li><a href="trainers.html">Training</a></li>
                        <li><a href="contacts.html">Contact</a></li>
                        <li><a href="store.html">Store</a></li>
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
    </nav>
