<!-- START Locations block -->
        <div class="tm-block  tm-block-top-d tm-section-dark tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-top-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <h3 class="uk-panel-title">Locations</h3>
                            <div class="category-module-locations ">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Location 1 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/locations/location-4.jpg');">
                                                    <img src="images/demo/locations/location-4.jpg" class="uk-invisible" width="295" height="500" alt="Family Fitness CLub">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="location.html">Family Fitness CLub</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                12 The Roundway, Manchester                                    
                                                            </div>
                                                            <a href="location.html" class="uk-button uk-button-primary tm-location uk-float-left">View Location</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Location 1 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Location 2 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/locations/location-3.jpg');">
                                                    <img src="images/demo/locations/location-3.jpg" class="uk-invisible" width="295" height="500" alt="Fitness Club nr.2">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="location.html">Fitness Club nr.2</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                7 Dummy Street, London                                    
                                                            </div>
                                                            <a href="location.html" class="uk-button uk-button-primary tm-location uk-float-left">View Location</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Location 2 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Location 3 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/locations/location-2.jpg');">
                                                    <img src="images/demo/locations/location-2.jpg" class="uk-invisible" width="295" height="500" alt="Fitness Club nr.1">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="location.html">Fitness Club nr.1</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                48 Bradford Road, Leeds                                    
                                                            </div>
                                                            <a href="location.html" class="uk-button uk-button-primary tm-location uk-float-left">View Location</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Location 3 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Location 4 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/locations/location-1.jpg');">
                                                    <img src="images/demo/locations/location-1.jpg" class="uk-invisible" width="295" height="500" alt="Central Finess club">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="location.html">Central Finess club</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                32 Oatland Road, London                                    
                                                            </div>
                                                            <a href="location.html" class="uk-button uk-button-primary tm-location uk-float-left">View Location</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Location 4 block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Locations block -->