      <!-- START Mobile menu block -->
            <div id="offcanvas" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas">
                        <li class="uk-parent">
                            <a href="#">Home</a>
                            <ul class="uk-nav-sub">
                                <li class="uk-parent">
                                    <a href="#">Color Variations</a>
                                    <ul>
                                        <li><a href="index.html">Default style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-4/">Orange style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-5/">Green Style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-6/">Red Style</a></li>
                                    </ul>
                                </li>
                                <li><a href="layouts.html">Modules Positions</a></li>
                                <li><a href="coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                <li><a href="error.html">Error page</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="uk-active"><a href="schedule.html">Schedule</a></li>
                        <li class="uk-parent">
                            <a href="classes.html">Classes</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">Weight Loss</a></li>
                                <li><a href="classes/swimming.html">Swimming</a></li>
                                <li><a href="classes/swimming.html">Kickboxing</a></li>
                                <li><a href="classes/cross-trainer.html">Cross Trainer</a></li>
                                <li><a href="#">Muscle Gain</a></li>
                                <li><a href="classes/fast-bodyweight.html">Fast Bodyweight</a></li>
                                <li><a href="classes/pilates.html">Pilates</a></li>
                                <li><a href="classes/boxing.html">Boxing</a></li>
                            </ul>
                        </li>
                        <li><a href="workouts.html">Workouts</a></li>
                        <li><a href="trainers.html">Trainers</a></li>
                        <li><a href="store.html">Store</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contacts.html">Locations</a></li>
                    </ul>
                </div>
            </div>
            <!-- END Mobile menu block -->  