
        <!-- START Pricing block -->
        <div class="tm-block tm-block-bottom-b tm-section-dark tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Pricing intro text block -->
                        <div class="uk-panel">
                            <h3 class="uk-panel-title uk-text-center">Pricing</h3>
                            <p class="uk-text-large uk-text-center ak-pricing">
                                We offer attractive pricing plans for everyone<br>
                                don’t serarch more excuses, buy your card today
                            </p>
                        </div>
                        <!-- END Pricing intro text block -->
                        
                        <!-- START Pricing table block -->
                        <div class="uk-panel">
                            <div class="uk-grid tm-price" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                <div class="uk-width-medium-1-2 uk-text-center">
                                    <div class="uk-panel uk-float-right uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                                        <div class="price">$24<sup>.99</sup></div>
                                        <h2 class="uk-panel-title uk-margin-top">per month</h2>
                                        <p class="tm-panel-subtitle">Health Checks <br>Personal fitness programm <br>Membership cards</p>
                                        <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                        <i class="uk-icon-akplus">+</i>
                                        <span>Buy Now</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 uk-text-center">
                                    <div class="uk-panel uk-float-left uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                                        <div class="price">$199<sup>.99</sup></div>
                                        <h2 class="uk-panel-title uk-margin-top">per year</h2>
                                        <p class="tm-panel-subtitle">Health Checks <br>Personal fitness programm <br>Membership cards</p>
                                        <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                        <i class="uk-icon-akplus">+</i>
                                        <span>Buy Now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Pricing table block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Pricing block -->