 <!-- START Products block -->
        <div class="tm-block tm-block-bottom-c tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Product intro text block -->
                        <div class="uk-panel">
                            <p class="uk-text-large uk-text-center ak-shop">Grab some supplements for your next workout</p>
                        </div>
                        <!-- END Product intro text block -->
                        
                        <!-- START Products block -->
                        <div class="uk-panel">
                            <div class="mod_j2store_products  tm-store-products">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <!-- START Product 1 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_27 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-3.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Casein Proteines                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_27" class="j2store_product_price">
                                            €55.70                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 1 block -->
                                    
                                    <!-- START Product 2 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_28 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-4.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Elite Whey Proteins                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_28" class="j2store_product_price">
                                            €122.90                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 2 block -->
                                    
                                    <!-- START Product 3 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_26 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-2.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Muscle MX Vitamins C                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_26" class="j2store_product_price">
                                            €69.90                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 3 block -->
                                    
                                    <!-- START Product 4 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_25 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-1.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Sport technology whey protein                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_25" class="j2store_product_price">
                                            €43.50                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 4 block -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- END Products block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Products block -->