

        <!-- START Statistic and Promo block -->
        <div class="tm-block  tm-block-top-c tm-section-light">
            <div class="uk-container uk-container-center">
                <section class="tm-top-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1 uk-width-medium-1-2">
                        <div class="uk-panel">
                            <!-- START Statistic block -->
                            <div class="uk-panel uk-text-center ak-statistics-box">
                                <ul class="uk-subnav uk-subnav-line tm-statistics">
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="231" data-speed="1400">231</div>
                                        <h6 class="text">Locations</h6>
                                    </li>
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="736" data-speed="1700">736</div>
                                        <h6 class="text">Trainers</h6>
                                    </li>
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="32" data-speed="2000">32</div>
                                        <h6 class="text">Shops</h6>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Statistic block -->
                        </div>
                    </div>
                    <div class="uk-hidden-small uk-width-medium-1-2">
                        <!-- START Promo block -->
                        <div class="uk-panel uk-hidden-small">
                            <a class="tm-promo-video" href="https://vimeo.com/31012462" data-uk-lightbox="{group:'group2'}">
                            <%= image_tag("demo/visuals/promo-video.jpg", style: "width: 610; height: 360") %>
                                
                            </a>
                        </div>
                        <!-- END Promo block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Statistic and Promo block -->
