  <!-- START Trainers block -->
        <div class="tm-block  tm-block-bottom-a tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Trainers intro text block -->
                        <div class="uk-panel">
                            <h3 class="uk-panel-title uk-text-center">Training</h3>
                            <p class="uk-text-large uk-text-center ak-trainers">Curva employs 14 different cutting edge techniques, tools and metrics to  support you in your way to become healthier and happier</p>
                        </div>
                        <!-- END Trainers intro text block -->
                        
                        <!-- START Trainers foto block -->
                        <div class="uk-panel">
                            <div class="category-module-trainers ">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 1 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-8.jpg');">
                                                <%= image_tag("demo/trainers/trainer-8.jpg", style: "width: 295; height: 500") %>
                                                                 
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Tyler Brown</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Strength Training                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 1 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 2 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-7.jpg');">
                                                <%= image_tag("demo/trainers/trainer-7.jpg", style: "width: 295; height: 500") %>                           
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Edward Lane</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Reformer Bootcamp Master                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 2 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 3 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-6.jpg');">
                                                <%= image_tag("demo/trainers/trainer-6.jpg", style: "width: 295; height: 500") %>
                                                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Caitlin Harrison</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Pilates & Movement Expert                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 3 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 4 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-5.jpg');">
                                                <%= image_tag("demo/trainers/trainer-5.jpg", style: "width: 295; height: 500") %>              
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Ethan Griffin</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Ketogenic Dietician                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 4 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 5 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-4.jpg');">
                                                    <img src="images/demo/trainers/trainer-4.jpg" class="uk-invisible" width="295" height="500" alt="Amelie Noble">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Amelie Noble</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Yoga Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 5 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 6 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-3.jpg');">
                                                    <img src="images/demo/trainers/trainer-3.jpg" class="uk-invisible" width="295" height="500" alt="Naomi Staver">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Naomi Staver</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Yoga Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 6 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 7 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-2.jpg');">
                                                    <img src="images/demo/trainers/trainer-2.jpg" class="uk-invisible" width="295" height="500" alt="Richard Payne">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Richard Payne</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Personal Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 7 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 8 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-1.jpg');">
                                                    <img src="images/demo/trainers/trainer-1.jpg" class="uk-invisible" width="295" height="500" alt="Edward J. Hopper">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Edward J. Hopper</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Boxing Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 8 block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Trainers foto block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Trainers block -->
