<!-- START Latest Workouts block -->
        <div class="tm-block tm-block-bottom-d tm-section-light tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <h3 class="uk-panel-title">Latest Workouts</h3>
                            <div class="newsflash-workouts tm-page-workouts">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <!-- START Latest Workout 1 block -->
                                    <div class="uk-width-medium-1-1 uk-width-large-1-3 uk-text-left">
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel tm-workouts" onclick="location.href = 'http://h-maxx-fitness.torbara.com/workouts/5-unique-workauts-to-improve-your-deadlift.html';">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/workouts/workout-1.jpg');">
                                                    <img src="images/demo/workouts/workout-1.jpg" class="uk-invisible" width="295" height="500" alt="5 Unique Workauts to Improve your Deadlift">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <div class="tm-panel-subtitle">
                                                                <div class="uk-panel uk-width-1-1">
                                                                    <div class="uk-grid">
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Duration</h6>
                                                                            <span class="tm-uppercase">2 weeks</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Exercises</h6>
                                                                            <span class="tm-uppercase">10</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Level</h6>
                                                                            <span class="tm-uppercase">Medium</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h4 class="tm-workouts-line tm-uppercase">Style</h4>
                                                                <h3 class="tm-workouts-subline tm-uppercase">5 Unique Workauts to Improve Deadlift</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Latest Workout 1 block -->
                                    
                                    <!-- START Latest Workout 2 block -->
                                    <div class="uk-width-medium-1-1 uk-width-large-1-3 uk-text-left">
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel tm-workouts" onclick="location.href = 'http://h-maxx-fitness.torbara.com/workouts/5-unique-workauts-to-improve-your-deadlift.html';">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/workouts/workout-2.jpg');">
                                                    <img src="images/demo/workouts/workout-2.jpg" class="uk-invisible" width="295" height="500" alt="Sculpt Your ABS into a six-pack in six weeks">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <div class="tm-panel-subtitle">
                                                                <div class="uk-panel uk-width-1-1">
                                                                    <div class="uk-grid">
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Duration</h6>
                                                                            <span class="tm-uppercase">6 weeks</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Exercises</h6>
                                                                            <span class="tm-uppercase">3</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Level</h6>
                                                                            <span class="tm-uppercase">Advantage</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h4 class="tm-workouts-line tm-uppercase">WORKOUT TIPS</h4>
                                                                <h3 class="tm-workouts-subline tm-uppercase">Sculpt Your ABS into a six-pack in six weeks</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Latest Workout 2 block -->
                                    
                                    <!-- START Latest Workout 3 block -->
                                    <div class="uk-width-medium-1-1 uk-width-large-1-3 uk-text-left">
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel tm-workouts" onclick="location.href = 'http://h-maxx-fitness.torbara.com/workouts/5-unique-workauts-to-improve-your-deadlift.html';">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/workouts/workout-3.jpg');">
                                                    <img src="images/demo/workouts/workout-3.jpg" class="uk-invisible" width="295" height="500" alt="Dedicated routine for massive triceps">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <div class="tm-panel-subtitle">
                                                                <div class="uk-panel uk-width-1-1">
                                                                    <div class="uk-grid">
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Duration</h6>
                                                                            <span class="tm-uppercase">1 Day</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Exercises</h6>
                                                                            <span class="tm-uppercase">15</span>
                                                                        </div>
                                                                        <div class="uk-width-1-3">
                                                                            <h6 class="tm-uppercase">Level</h6>
                                                                            <span class="tm-uppercase">Easy</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h4 class="tm-workouts-line tm-uppercase">Weight loss</h4>
                                                                <h3 class="tm-workouts-subline tm-uppercase">Dedicated routine for massive triceps</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Latest Workout 3 block -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Latest Workouts block -->